In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/HR.csv')

In [3]:
# satisfaction_level  满意度
# last_evaluation 最近一次的评价
# number_project 项目数量
# average_monthly_hours 每月工作时长
# time_spend_company 工龄 
# Work_accident 工作事故 0没有 1有
# left 离职 1离职 0未离职
# promotion_last_5years 最近5年是否有晋升 0未晋升  1晋升
# department 员工的部门
# salary 薪水

df

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low
14999,NaN,0.52,2,158,3,0,1,0,support,low
15000,NaN,999999.00,2,158,3,0,1,0,sale,low
15001,0.70,0.40,2,158,2,0,1,0,sale,nme

## 理论知识

In [4]:
# 集中趋势：数据聚拢位置的一种衡量
# 均值：常用来分析连续值、分布比较均匀的值的趋势
# 中位数：用来分析存在异常值的数据，例如某些值特别大或特别小
# 众数：用来衡量离散值的集中趋势
# 分为数：与其他几个值共同作用。含义：将数据从小到大排列，切分成等分的数据点。常用到的是四分位数

# 四分位数的计算方法
# Q1的位置 = (n+1)*0.25
# Q2的位置 = (n+1)*0.5
# Q3的位置 = (n+1)*0.75

In [5]:
# 离中趋势：数据离散程度的衡量
# 标准差：值越大表示数据越离散，反之聚拢
# 方差：
# 正态分布：数据落在 -1倍标准差到+1倍标准差的概率是69%，-1.96到+1.96的概率是95%， -2.58到+2.5的概率是99%

In [ ]:
# 数据分布：偏态与峰度
# 偏态系数与峰态系数
# 偏态系数：数据平均值偏离状态的衡量。值为正，是正偏（均值比较大）。值为负，是负偏（均值比较小）。相对于中位数或平均数
# 峰态系数：数据分布集中强度的衡量。值越大，顶部越尖。值越小，分布越平缓。正太分布的峰态系数一般为3。⚠️可以用来直接拒绝正太分布的假设。

# 正太分布与三大分布
# 卡方分布：几个变量都是标准正太分布（均值为0，方差为1），其平方和满足一个分布，则为卡方分布
# t分布：正太分布的一个随机变量除以一个符合卡方分布分布的变量就是t分布。常用来根据小样本来估计成正态分布且方差未知的总体的均值。
# f分布：是由两个服从卡方分布的随机变量的比构成的。